

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  margin-bottom:8%;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 9), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wrapper:hover * {
  animation-play-state: paused;
}

.item1 {
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}

.item9 {
  animation-delay: calc(30s / 8 * (9 - 9) * -1);
}

h1 {
  padding-top: 10%;
  color: rgb(0, 64, 160);
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  padding-right: 45px;
}


@media screen and (max-width: 700px){
  h1{
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    padding-left:50px;
  }
  .wrapper {
    margin-bottom:30%;
    width: 70%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    padding: 0;
  }

  .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    position: absolute;
    left: max(calc(120px * 9), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}