

    <body>

        <h1 class="font-bold ">Nos Clients</h1>

        <div class="wrapper">
            
            <div class="item item1"><img src="Logo.jpg" width="200px"></div>
            <div class="item item2"><img src="Image2.png" ></div>
            <div class="item item3"><img src="Image3.png" ></div>
            <div class="item item4"><img src="Image4.jpg" ></div>
            <div class="item item5"><img src="Image5.jpg" ></div>
            <div class="item item6"><img src="Image6.png"></div>
            <div class="item item7"> <img src="Image10.jpg"width="200px"></div>
            <div class="item item8"><img src="Image7.png" ></div>
            <div class="item item9"><img src="image9.jpg" ></div>
            </div>
            
  
            
            
            
       
    </body>
    

