<head>
    <meta charset="utf-8">
    <title>Gm-Gestcom</title>
    <base href="/">
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="Home">
    
    <nav class="logo"  >
        <a href="/" routerLinkActive="active" >
            <img src="logo.png" width="240px" >
        </a>
        
    </nav>
    
    <div class="det">
        <img class="demo" src="pc1.png" width="30%"  height="30%">
        <h1 id="h1text">La gestion facile de <br> votre entreprise!</h1>
        <h2 id="h2text">Organisez votre travail et facilitez vos écritures comptables.</h2>
        <button class="demander-phone"><a href="#Home-demo">Demander une demo</a></button>
        <img class="demo-phone" src="pc1.png" width="100%"  height="100%">
            <button class="demander"><a href="#Home-demo">Demander une demo</a></button>
    </div>

</body>

<footer>
    <div class="footer-container">
        <div class="logo-item" class="lines">
            <div class="logos"><img src="logo-placeholder.png" alt="Logo 1"></div>
            <br>
            <span class="stars" aria-label="5 stars">★★★★★</span>
            <p class="Reviews">100+ Reviews</p>
        </div>
        


        <div class="logo-item" class="lines">
            <div class="logos"><img src="logo-placeholder-2.png" alt="Logo 2"></div>
            <br>
            <span class="stars">★★★★&star;</span>
            <p class="Reviews">30+ Reviews</p>
        </div>

        <div class="logo-item" class="lines">
            <div class="logos"><img src="logo-placeholder-3.png" alt="Logo 3"></div>
            <br>
            <span class="stars">★★★★★</span>
            <p class="Reviews">50+ Reviews</p>
        </div>

        <div class="logo-item ">
            <div class="logos logo4"><img src="logo-placeholder-4.png" alt="Logo 4"></div>
            <br>
            <span class="stars">★★★★★</span>
            <p class="Reviews">50+ Reviews</p>
            
        </div>

        </div>

      <!--   <div class="scroll-top">
            <a href="#Home"><button class="scroll-top-button"><i class="bi bi-arrow-up-square-fill"></i></button></a>
        </div> -->
</footer>