<div id="Galerie">
    <br>
</div>


<h1 class="galerie-header" >Galerie</h1>

<div class="galerie-header2">
    <p class="textContent">
        Write with clear, concise language to inform and engage your audience.
        Consider what matters to them and provide valuable insights.
    </p>
</div>
<!--  -->

<div class="slider">
    <figure>
        <div class="slide">
            <img src="bank_tresorie.png" alt="Bank Tresorie">
        </div>
        
        <div class="slide">
            <img src="production.png" alt="Production">
        </div>
        <div class="slide">
            <img src="reglement.png" alt="Reglement">
        </div>
        <div class="slide">
            <img src="parametre.png" alt="Parametre">
        </div>
        <div class="slide">
            <img src="transport.png" alt="Transport">
        </div>
        <div class="slide">
            <img src="bank_tresorie2.png" alt="Bank Tresorie 2">
        </div>
    </figure>
</div>

<div class="call-to-action-title">
    <button  class="call-to-action" ><a routerLink="/demo" routerLinkActive="active" href="#Home-demo">Get in Touch</a></button>
</div>