@tailwind base;
@tailwind components;
@tailwind utilities;





html{
    overflow-x: hidden;
}

footer {
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
}

.demo-footer {
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 25px 20px;
    font-size: 18px;
}

.scroll-top{
    color:black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    align-content:center;
    justify-content:center;
    padding:8px;
    height:40px;
    width:40px;
    border:2px solid black;
    
}


@media only screen and (max-width: 700px){
    .scroll-top{
        color:black;
        position: fixed;
        bottom: 20px;
        right: 20px;
        align-content:center;
        justify-content:center;
        padding:8px;
        height:40px;
        width:40px;
        border:2px solid black;
    }
}