@tailwind base;
@tailwind components;
@tailwind utilities;





html{
    scroll-behavior: smooth;
}

footer {
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
}

.demo-footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 20px;
    font-size: 18px;
}

.scroll-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
