<section class="gestion">
    <h1 class="header-title">La gestion facile de votre entreprise</h1>
    <p class="sub-header">La réussite de votre entreprise dépend de votre gestion, une tâche qui prend du temps, et qui peut s’avérer complexe. Alors, nous vous proposons un logiciel de gestion commerciale avec de nombreuses fonctionnalités, qui vous apportera une aide précieuse.</p>

    <div class="image-container">
        <img class="gest-image" src="pngegg.png" alt="" width="600" height="500">
        <div class="textplace"><h1 class="gest-header">Gestion de Stock</h1>
        <p class="sub-gest-header">Avec GM-GestCom plus besoin de gérer votre stock sur des tableaux Excel sans fin. Vous pouvez désormais connaitre l'état de votre stock en temps réel peu importe où vous êtes.
            A partir d'une fiche produit, vous pouvez suivre la quantité en stock dans vos différents entrepôts, le prix d'achat, le prix de vente, ainsi que les différents mouvements.
            Pour chaque facture de vente ou d'achat créée, le stock est automatiquement ajusté pour vous donner une information exacte à tout moment.</p></div>
        
        
    </div>
</section>